################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/GraphlitParse/Properties/launchSettings.json
/dotnet/GraphlitParse/appsettings.json
/dotnet/GraphlitIngest/appsettings.json
